SQLDay/SQLDay2021/src/Demo/SynapseServerless/pipeline/DataProc.json
{
	"name": "DataProc",
	"properties": {
		"activities": [
			{
				"name": "GetJobs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT TableId,DropStageStatement,CreateStageStatement,MergeStatement FROM [proc].tvf_GetProcessingJobs(2)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DSProcFrameworkGeneric",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachJobs",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetJobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetJobs').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyData",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						},
						{
							"name": "ProcessData",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "CopyData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/tkrawczyk@future-processing.com/SQLDay2021/ProcFramework/Processing",
								"baseParameters": {
									"DropStageStatement": {
										"value": "@item().DropStageStatement",
										"type": "Expression"
									},
									"CreateStageStatement": {
										"value": "@item().CreateStageStatement",
										"type": "Expression"
									},
									"MergeStatement": {
										"value": "@item().MergeStatement",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricksProcessing",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}